* {
  box-sizing: border-box;
}

.main-page {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway,sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
}