.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 24px;
  padding-top: 92px;
  padding-right: 24px;
  padding-bottom: 92px;
}
.header_menu {
  display: flex;
  justify-items: center;
}

.menu_links {
  display: flex;
  gap: 32px;
  padding-right: 7px;
  list-style-type: circle;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  text-decoration: none;
}

.main {
  list-style-type: none;
}

.link_main {
  list-style-type: none;
}